*{
    padding: 0px;
    margin: 0 auto;
}

body{
  overflow-y: scroll;
overflow-x: hidden;
}

#DE{
    display: none;
}

/*

SCROLL-BAR

*/

::-webkit-scrollbar{
    width: 10px;
    background-color: #e9e9e9;
}

::-webkit-scrollbar-thumb{
    width: 8px;
    background-color: #202020;
}

::-webkit-scrollbar-track{
    border-radius: 8px;
    background-color: #e9e9e9;
}

/*

NAVIGATION BAR

*/

#navigationbar{
    width: 100%;
    min-height: 80px;
    background-color: #202020;
    opacity: 0.9;
    font-size: 20px;
    position: fixed;
    top: 0px;
    z-index: 999;
    transition: all 0.2s ease-in-out;
}

#navigationbar:hover{
    background-color: rgba(32, 32, 32, 1);
    opacity: 1;
}

/* Logo */
#logo{
    height: 60px;
    width: auto;
    margin: 10px 50px 10px 40px;
    float: left;
}

/* Links in Navigation Bar */
#menu{
    margin: 0;
    padding: 0;
}

#menu li{
    list-style: none;
    display: inline-block;
}

#menu li a{
    text-decoration: none;
    position: relative;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 30px;
    text-transform: lowercase;
    padding: 2px;
    margin: 23px 2vw;
    display: block;
    overflow: hidden;
    transition: all 0.7s;
}

#menu li a:before{
    content: '';
    width: 20px;
    position: absolute;
    border-bottom: 2px solid #ffffff;
    bottom: 0;
    right: 150px;
    transition: all 0.7s ease-in-out;
}

#menu li a:not(#activeLink):hover:before{
    right: 0;
}

#menu li a:not(#activeLink):active{
    transform: scale(0.9);
}

.glyphicon-tasks{
    position: fixed;
}

#activeLink{
    bottom: -1px;
    border-bottom: 2px solid #ffffff;
}

.menu-icon{
    width: auto;
    height: 32px;
    position: absolute;
    right: 40px;
    top: 24px;
    display: none;
    transition: all 0.2s ease-in-out;
}

.menu-icon:hover{
    transform: scale(1.1);
}

@media screen and (max-width: 768px){
    .menu-icon{
        display: block;
    }

    #menu li{
        width: 100%;
        float: none;
        display: none;
    }

    #menu li a{
        text-align: center;
        width: 100vw;
        padding: 10px;
        margin: 0 auto;
    }

    #menu li #activeLink{
        background-color: #ffffff;
        color: #202020;
    }

    #menu li a:before, #activeLink{
        border:none;
    }

    #logo{
        width: 150px;
        height: auto;
        float: left;
        /*
        position: relative;
        left: 50vw;
        margin-left: -75px;
        */
    }
}

/*

HEADER

*/

/* Parallax Window */
.parallax {
    min-height: 103vh;
    background: transparent;
    margin: 0 auto;
    margin-top: -20px;
    text-align: center;
    top: 0px;
    color: white;
}

/* Logo in Parallax Window */
.logoParallax, .logoParallax:hover, .logoParallax:active, .logoParallax:link, .logoParallax:visited{
    text-decoration: none;
    z-index: 1;
    color: white;
    position: absolute;
    left: 50%;
    top: 40%;
}

.signation{
    width: 360px;
    font-family: 'Reenie Beanie', cursive;
    font-weight: lighter;
    font-size: 59px;
    position: relative;
    left: -50%;
    top: -43%;
}

.pagename{
    font-family: 'Slabo 27px', serif;
    text-transform: uppercase;
    font-size: 45px;
    letter-spacing: 3px;
    padding: 5px;
    width: 360px;
    margin: 0 auto;
    text-align: center;
    border: 2px solid white;
    margin-top: -10px;
    position: relative;
    left: -50%;
    top: -43%;
}

/* Scroll-Down Button */
.scroll{
    width: 30px;
    height: 45px;
    position: absolute;
    bottom: 3%;
    left: 50%;
    cursor: pointer;
    margin-top: -25px;
    margin-left: -15px;
    transition: all 0.3s ease-in-out;
    animation-name: scroll-mouse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.scrollTop{
    position: fixed;
    bottom: 10%;
    left: 96%;
}

.scroll .mouse{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border: 2px solid #ffffff;
    border-radius: 20px;
}

.scrollTop .mouseTop{
    border: 2px solid #202020;
    opacity: 0;
    cursor: default;
    transition: all 0.2s ease-in-out;
}

.scroll .wheel{
    width: 4px;
    height: 4px;
    top: 10px;
    left: 50%;
    position: absolute;
    background: #ffffff;
    display: block;
    border-radius: 50%;
    margin-left: -2px;
    animation-name: scroll-wheel;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.scrollTop .wheelTop{
    background: #202020;
    opacity: 0;
    cursor: default;
    transition: all 0.2s ease-in-out;
}

.glyphicon-chevron-up{
    color: #202020;
    width: 20px;
    text-align: center;
    padding: 0;
    margin: 4px;
    margin-top: 1px;
    animation-name: scroll-arrow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

/* Scroll-Mouse Animation */
@keyframes scroll-arrow{
    0% {top: 0.5vh;}
    50% {top: 1vh;}
    100% {top: 0.5vh;}
}

@-webkit-keyframes scroll-arrow{
    0% {top: 0.5vh;}
    50% {top: 1vh;}
    100% {top: 0.5vh;}
}

@-moz-keyframes scroll-arrow{
    0% {top: 0.5vh;}
    50% {top: 1vh;}
    100% {top: 0.5vh;}
}

@-o-keyframes scroll-arrow{
    0% {top: 0.5vh;}
    50% {top: 1vh;}
    100% {top: 0.5vh;}
}

@keyframes scroll-wheel{
    0% {top: 1vh;}
    50% {top: 2vh;}
    100% {top: 1vh;}
}

@-webkit-keyframes scroll-wheel{
    0% {top: 1vh;}
    50% {top: 2vh;}
    100% {top: 1vh;}
}

@-moz-keyframes scroll-wheel{
    0% {top: 1vh;}
    50% {top: 2vh;}
    100% {top: 1vh;}
}

@-o-keyframes scroll-wheel{
    0% {top: 1vh;}
    50% {top: 2vh;}
    100% {top: 1vh;}
}

@keyframes scroll-mouse {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-14px);}
    60% {transform: translateY(-7px);}
}

@-webkit-keyframes scroll-mouse {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-20px);}
    60% {transform: translateY(-10px);}
}

@-moz-keyframes scroll-mouse {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-20px);}
    60% {transform: translateY(-10px);}
}

@-o-keyframes scroll-mouse {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-20px);}
    60% {transform: translateY(-10px);}
}
/*

CONTENT

*/

.wrapper{
    background-color: #ffffff;
    color: #202020;
    margin-top: -20px;
}

.headline{
    text-transform: lowercase;
    font-weight: bold;
    font-size: 10vw;
    padding-top: 20px;
}

.content{
    width: 80vw;
    min-height: 100vh;
    margin: 0 auto;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.content h4{
    text-transform: uppercase;
    font-size: 50px;
    margin-top: 50px;
}

.content p{
    font-size: 20px;
    margin: 40px 0;
}

.parallaxHome{
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  height: 50vh;
  width: 100vw;
  left: -10vw;
  margin-top: 10px;
  margin-bottom: -10px;
  box-shadow: inset 0px 30px 30px -30px #202020;
}

.window1{
  background-image: url("../images/img4.jpg");
}

.window2{
  background-image: url("../images/img1.jpg");
}

.window3{
  background-image: url("../images/img3.jpg");
}

.content h5, .content h5:active, .content h5:link, .content h5:visited{
  position: relative;
  left: 0%;
  top: 45%;
  transition: all 0.3s ease-in-out;
}

.content h5:hover{
  transform: scale(1.05);
}

.content h5 a, .content h5 a:hover, .content h5 a:active, .content h5 a:link, .content h5 a:visited{
  font-size: 300%;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  color: white;
  text-transform: lowercase;
}

.gallery{
    max-width: 1500px;
    margin: 0 auto;
    content: "";
    clear: both;
    display: table;
}

.imgContainer{
    display: block;
    max-width: 100%;
    height: auto;
    width: auto;
    overflow: hidden;
    text-align: center;
    float: left;
}

.one-third{
    width: 29%;
    margin: 2%;
    float: left;
}

.imgGalery{
    display: block;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    transition: all 0.3s ease-in-out;
}

.imgGalery:hover{
    transform: scale(1.2);
}

@media screen and (max-width: 768px){
    .one-third{
        width: 48%;
        margin: 1%;
    }
}

@media screen and (max-width: 480px){
    .one-third{
        width: 98%;
        margin: 1%;
    }
}

iframe{
  width: 64vw;
  height: 36vw;
}
/*

FOOTER

*/

footer{
    min-height: 50px;
    background-color: #202020;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    margin-top: 30px;
    line-height: 40px;
}

footer .footerText{
    position: relative;
    top: 5px;
    padding-right: 20px;
    display: inline;
}

footer img{
    width: 32px;
    height: 32px;
    margin-top: 9px;
    filter: grayscale(100%);
    transition: all 0.2s ease-in-out;
}

footer img:hover{
    filter: grayscale(0%);
}
